<h2>Discounts: <%= @merchant.name %></h2>
<div id="merchant-discounts-index-button-new-discount">
  <%= button_to "Create A New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new", method: :get %>
</div>

<div id="merchant-discounts-index-discount-display">
  <ul>
    <% if @merchant.bulk_discounts.count != 0 %>
      <% @merchant.bulk_discounts.each do |discount| %>
        <div id ="merchant-discounts-index-discount-<%= discount.id %>">
          <li><%= discount.discount * 100 %>% when a customer buys <%= discount.threshold %> or more items</li>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
