<h2>Discounts: <%= @merchant.name %></h2>
<div id="merchant-discounts-index-button-new-discount">
  <%= button_to "Create A New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new", method: :get %>
</div>

<div id="merchant-discounts-index-discount-display">
  <table>
    <% if @merchant.bulk_discounts.count != 0 %>
      <% @merchant.bulk_discounts.each do |discount| %>
      <tr>
        <div id ="merchant-discounts-index-discount-<%= discount.id %>">
          <td><%= discount.discount  %>% when a customer buys <%= discount.threshold %> or more items</td>
          <td> <%= button_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}/", method: :delete %></td>
          <td> <%= button_to "View Discount Details", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}/", method: :get %></td>
        </div>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
